# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Virtual environments
venv/
.venv/
.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
images/

# IDE
.idea/
.vscode/
*.swp
*.swo
*.swn

# Distribution
dist/
build/
*.egg-info/

# MacOS
*.DS_Store