<!DOCTYPE html>
<html>
<head>
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav>
    <h2>RPS Game</h2>
    {% if user.is_authenticated %}
        <p>Welcome {{ user.username }}</p>
        
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% endif %}
</nav>

{% block content %}
{% endblock %}

</body>
</html>