{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}RPS Game{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="header">
    <div class="logo">The Final Throw : RPS</div>

    <nav class="nav" >
        <a href="/">Home</a>
        

        {% if user.is_authenticated %}
                <span class="welcome-text">Hi,{{ user.username }}</span>
                
                <!-- Log out needs POST ,so dont add <a> here,as it will give GET by default -->
                <form class="logout-form " action="/accounts/logout/" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="logout-btn">Logout</button>
                </form>
            {% else %}
                <a href="/accounts/login/">Login</a>
                <a href="/accounts/signup/">Signup</a>
        {% endif %}
    </nav>
</header>

<main class="main-content">
    {% block content %}
    {% endblock %}
</main>

<footer class="footer">
    <p>© 2026 Rock Paper Scissor </p>
    <p> Built Using HTML,CSS,JS & Django </p>
    <p>All Rights Reserved by Ranit Mondal</p>
</footer>

</body>
</html>