{% extends "base.html" %}

{% block content %}

{% load static %} 

<h2>Mode: {{ mode }}</h2>

<div>
    <div class="choice-container">
            <div class="img-class" id="rock">
                <img src="{% static 'images/rockk.png' %}" alt="Rock-image">
                <button class="choice" data-choice="rock">Rock</button>
            </div>

            <div class="img-class" id="paper">
                <img src="{% static 'images/paper.png' %}" alt="Paper-image">
                <button class="choice" data-choice="paper">Paper</button>
            </div>

            <div class="img-class" id="scissor">
                <img src="{% static 'images/scissor.jpg' %}" alt="Scissors-image">
                <button class="choice" data-choice="scissors">Scissors</button>
            </div>
    </div>
</div>

<div class="score-titles">
    <h3>Player Score: <span id="player-score">0</span></h3>
    <h3>Computer Score: <span id="computer-score">0</span></h3>

    <h3 id="result">Result: Pick your weapon and start the battle.</h3>
</div>

<script src="/static/js/computer.js"></script>

{% endblock %}